body{
margin:0;
padding:0;
}

h1, h2, h3, h4, h5{
font-family:arial;
border-bottom:1px solid silver;
padding:10px 0;
}

h1{text-align:center;}

.body-ctr{
background-color:#ddd;
padding:50px 0;
box-sizing:border-box;
}

.ctr{
max-width:960px;
padding:40px;
box-sizing:border-box;
margin:0 auto;
background-color:#fff;
font:12px verdana, tahoma, sans-serif;
color:#333;
box-shadow:0 0 4px #000;
}

blockquote {
background-color: #eee;
  padding: 15px 25px;
  font: italic 16px/24px georgia;
  display: block;
  border-left: 10px solid #F04E00;
  border-left-color: gray;
  margin: 10px 0;
  text-align: left;
}

pre{
border:1px solid silver;
background-color:#ddd;
overflow-x: auto;
font-size:16px;
padding:5px;
}

.demo-list-33 > ul{
margin:0;
padding:10px 0;
width:33.3333%;
float:left;
box-sizing: border-box;
}

.demo-list-33 > ul > li{
list-style: none;
text-align:center;
padding:5px;
border: 1px solid silver;
margin-bottom: -1px;
margin-right: -1px;
}

.demo-list-33:before, .demo-list-33:after{
content:' ';
clear:both;
display:block;
}

a{text-decoration:none;}
a:hover{text-decoration:underline;}

.tbl{
border-collapse:collapse;
}

.tbl tr > td{
border:1px solid silver;
padding:5px;
vertical-align:top;
}

.tbl tr > th{
border:1px solid silver;
padding:10px 0;
text-align:center;
font:bold 16px arial, sans-serif;
}

.tbl tr:nth-child(even){background-color:#ddd;}

.text-center{text-align:center;margin-top:30px;}

button{
padding: 10px 15px;
margin: 5px 0;
border: none;
border-radius: 4px;
background: #007BFF;
color: #fff;
cursor: pointer;
}

button:hover{
background: #0056b3;
}